<%- include("../includes/head.ejs") %>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Presensi Checker</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/mahasiswa-kelasb">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="/post-input" method="POST">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="listNim" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Masukan list nomor induk mahasiswa</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="selection">
                        <option value="1">Kelas B</option>
                        <option value="2">Kelas Perempuan dan Gender</option>
                        </select>
                        <label for="floatingSelect">Silahkan pilih kelas</label>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">submit</button>
                </form>
            </div>
        </div>
    </div
    <% if(tidakhadir != undefined) { %>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label for="list-group">List mahasiswa yang tidak hadir</label>
                    <ul class="list-group">
                        <% tidakhadir.forEach(p => { %>
                            <li class="list-group-item"><%= p.nama %></li>
                        <% }) %>
                      </ul>
                </div>
            </div>
        </div>
    <% } %>
<%- include("../includes/end.ejs") %>